@def info la
    @with la.title
        <p class="head">{la.title | html}</p>
    @end

    @with la.meta.abstract
        <p class="text2">{la.meta.abstract | html | nl2br}</p>
    @end

    @if la.has_legend
        <p class="legend"><img src="{gws.endpoint}?cmd=mapHttpGetLegend&amp;layerUid={la.uid}" /></p>
    @end

    @with la.meta.url
        <p class="metaurl"><a href="{la.meta.url | url}" target="_blank" rel="noopener"></a></p>
    @end
@end


@def subsection text
    @with text
        <div class="subsection">{text}</div>
    @end
@end

@info layer

@each sub_layers as sub
    @subsection(info(sub))
@end

@let service_info
    @with service.abstract
        <p>{service.abstract | html | nl2br}</p>
    @end
    @with service.attribution
        <p>{service.attribution}</p>
    @end
@end

@subsection(service_info)
