*.bak
*.iml
*.pyc
*.qgs~
*.swo
*.swp
._*
.cache
.DS_Store
.idea
.mypy*
.pytest_cache
/app/spec/gen
/app/web/gws-client
/client/_build
/client/_docs
/client/node_modules
/doc/_build
/docker/_build
___*
__pycache__
_autosummary
