___*
*.bak
*.iml
*.pyc
*.qgs~
*.swo
*.swp
._*
.cache
.DS_Store
.directory
.idea
.mypy_cache
.pytest_cache
.dmypy.json
__pycache__
__build*
node_modules
/app/gws/spec/gen
/app/www
/doc/sphinx/ref
_autosummary
