*.bak
*.iml
*.pyc
*.qgs~
*.swo
*.swp
._*
.cache
.DS_Store
.directory
.idea
.mypy*
.pytest_cache
/app/spec/gen
/app/www
/client/_build
/client/_docs
/client/node_modules
/doc/_build
/doc/sphinx/ref
___*
__pycache__
_autosummary
