.system-message {
    border: 2px solid red;
    padding: 10px;
    color: red;
}

.wy-table-responsive table td {
    white-space: normal !important;
}

.wy-table-responsive table th * {
    margin: 0 !important;
}

.pull-quote {
    padding: 0 0 0 10px !important;
    margin: 0 0 0 0 !important;
    border-left: 5px solid #2980B9 !important;

}

.wy-nav-content {
    max-width: 100% !important;
}

body.nonav nav {
    display: none;
}

body.nonav .wy-nav-content-wrap {
    margin-left: 10px;

}

.rubric > .class1 {
    margin-center: 3px;
}

.rubric > .class2 {
    margin-center: 3px;
}
