.system-message {
    border: 2px solid red;
    padding: 10px;
    color: red;
}

.wy-table-responsive table td {
    white-space: normal !important;
}

.wy-table-responsive table th p {
    margin: 0 !important;
}

.wy-nav-content {
    max-width: 100% !important;
}

body.nonav nav {
    display: none;
}

body.nonav .wy-nav-content-wrap {
    margin-left: 10px;

}