* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background: #232730;
    color: #ccc;
    font-size: 14px;
}

#side {
    position: fixed;
    width: 20em;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 0 0 0 1em;
    display: flex;
    flex-direction: column;
    background: #232730;
    z-index: 1;
    transition: right 0.3s ease;

}
#main {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 20em;
    padding: 1em 1em 4em 1em;
    transition: right 0.3s ease;
}

.with-sidebar-hidden #side {
    right: -20em;
}
.with-sidebar-hidden #main {
    right: 0em;
}

#side-toggle {
    position: fixed;
    right: 0em;
    bottom: 0;
    z-index: 3;
    padding: 1em;
    background: #232730;
}

#side-toggle span {
    background-image: url('/demos/icons/double_arrow.svg')
}

.with-sidebar-hidden #side-toggle span {
    background-image: url('/demos/icons/menu.svg')
}

#intro {
    display: none;
}


#side-search {
    padding: 1em 1em 0.5em 0;
}
#side-search-form {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    border: 1px dotted #15556e;
    border-radius: 10px;
    padding: 0.5em;
}

#side-search-form .icon {
    width: 16px;
    height: 16px;
    margin-left: 0.5em;
    opacity: 0.5;
}

#side-search input {
    background: transparent;
    border: none;
    color: #ddd;
    padding: 0.5em;
    flex: 1;
}

#project-list {
    color: #b0bec5;
    flex: 1;
    overflow: auto;
    position: relative;
    scrollbar-color: #2b2f38 #232730;
    scrollbar-width: thin;
}

#side-toolbar {
    padding: 1em;
    /* background: #777; */
    text-align: left;
}

#side-toolbar a.toolbar-button {
    margin-right: 25px;
    color: #ddd;
}

#side-toolbar a.toolbar-button .icon {
    width: 20px;
    height: 20px;
}
#side-toolbar a.toolbar-button:hover {
    color: #fff;
}

.with-mobile-view #side-toolbar #button-mobile-view {
    color: #ff8100;
}

.with-user #side-toolbar #button-login {
    color: #ff8100;
}


#demo-intro p {
    line-height: 1.4;
    margin: 1em 0;
}

#main iframe {
    width: 100%;
    height: 100%;
    border: 1px solid #aaa;
    margin: 0;
    padding: 0;
}

.with-mobile-view #main iframe {
    width: 400px;
}

.project-list-entry {
    margin-bottom: 1em;
    padding: 0.8em 0.8em 1.2em 0.8em;
    border-radius: 10px 0 0 10px;
    background: #2b2f38;
}

.project-list-entry.hidden {
    display: none;
}

.project-list-entry > .links  {
    display: flex;
    padding: 0 0 0.8em 0;
}
.project-list-entry a {
    display: block;
    font-size: 0.9em;
    line-height: 1.2;
    font-weight: 500;
    color: #2cade0;
    padding-right: 0.7em;
    text-decoration: none;
    transition: color 0.3s ease;
}

.project-list-entry.selected {
    background: #617094;
}
.project-list-entry.selected a {
    color: #f3eded;
}

.project-list-entry a.frame-link {
    flex: 1
}

#project-details {
    position: fixed;
    left: 20em;
    top: 0;
    bottom: 0;
    width: 20em;
    padding: 2em;
    overflow: auto;
}

.project-details-entry.hidden {
    display: none;
}

.project-details-entry h2 {
    font-size: 1.5em;
    font-weight: normal;
    line-height: 1.2;
}

.project-details-entry p {
    line-height: 1.4;
    margin: 1em 0;
}

.project-details-entry a {
    color: white;
}

.project-details-entry h6 {
    font-size: 0.8em;
    margin: 4em 0 0 0;
    text-align: right;
}
.project-details-entry h6 a {
    color: #76fc02;
}

.project-details-entry ul {
    padding-left: 2em;
}

.project-details-entry pre {
    margin: 2em 0;
}

.button, .toolbar-button {
    display: inline-block;
}

#login-box {
    display: none;
    position: absolute;
    left: 0;
    bottom: 4em;
    padding: 1em;
    background-color: #222;
    color: #ccc;
    width: 20em;
    z-index: 1;
    transition: left 0.3s ease;
}

#login-box td {
    padding: 0.5em;
}
#login-box input {
    border: none;
    border-radius: 8px;
    padding: 8px;
    width: 100%;
    background: #ddd;
    color: #333;
}

#login-box button {
    padding: 8px;
    margin-right: 8px;
    background: #999;
    color: white;
    border: 0;
}

.with-login-box #login-box {
    display: block;
    left: 0em
}

#login-form {
    display: block;
}

#logout-form {
    display: none;
}

.with-user #login-form {
    display: none;
}
.with-user #logout-form {
    display: block;
}

#login-error {
    color: red;
    display: none;
}

.gwsLoginError #login-error {
    display: block;
}

pre, code {
    font-family: "JetBrains Mono", Monaco, monospace;
    background-color: #222;
    color: #76fc02;
    font-size: 12px;

}

p > code {
    padding: 2px 7px;
    white-space: nowrap;
    border-radius: 7px;
}

pre {
    padding: 1em;
    border-radius: 7px;
    width: 100%;
    overflow: auto;
}

mark {
    padding: 2px 7px;
    white-space: nowrap;
    border-radius: 7px;
    font-size: 11px;
    color: #333;
    background: #79b0be;
    display: inline-block;
    margin: 0 0.2em;
    cursor: pointer;
}

mark.selected {
    background: #ff8100;

}

.icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
}

.icon.open_in_new {
    background-image: url('/demos/icons/open_in_new.svg')
}
.icon.menu {
    background-image: url('/demos/icons/menu.svg')
}
.icon.close {
    background-image: url('/demos/icons/close.svg')
}
.icon.home {
    background-image: url('/demos/icons/home.svg')
}
.icon.arrow_circle_down {
    background-image: url('/demos/icons/arrow_circle_down.svg')
}
.icon.arrow_circle_up {
    background-image: url('/demos/icons/arrow_circle_up.svg')
}
.icon.smartphone {
    background-image: url('/demos/icons/smartphone.svg')
}
.icon.person {
    background-image: url('/demos/icons/person.svg')
}

@media (max-width: 768px) {
    #side {
        width: 100%;
    }
    .with-sidebar-hidden #side {
        right: -100%;
    }
    #main {
        right: 0;
    }

}