* {
    box-sizing: border-box;
}
body {
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6, p, span, td, th, li {
    font-family: Roboto, Helvetica, sans-serif;
    color: #263238;
    line-height: 1.5;
}

pre, code {
    font-family: Menlo, Consolas, monospace;
}

.main pre {
    background: #f3f5f6;
    padding: 1em;
    font-size: 14px;
}

.main code {
    background: #f3f5f6;
    font-size: 14px;
}


.db_diagram {
    display: inline-block;
    padding: 0.5em;
    margin: 0.5em;
    border: 1px dotted #ccc;

}

.db_diagram h6 {
    margin: 2em 0 0 0;
    padding: 0;
    max-width: 30em;

}

.dotgraph {
}


.toc {
    position: fixed;
    left: 0;
    top: 0;
    width: 320px;
    padding: 20px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background: #37474f;
    font-size: 16px;
}

.toc p[data-level="1"] {
    font-size: 24px;
}
.toc p[data-level="2"] {
}
.toc p[data-level="3"] {
    margin-left: 1.5em;
    font-size: 14px;
}
.toc p[data-level="4"] {
    margin-left: 3em;
    font-size: 12px;
}
.toc p[data-level="5"] {
    display: none;
}

.toc a {
    text-decoration: none;
    color: white;
}
.toc a:hover {
    text-decoration: underline;
}

.main {
    padding: 0 20px 0 340px;
    max-width: 80em;
}

.main h2 {
    margin:2em 0 1em 0;
    font-size: 26px;
    font-weight: 300;
    padding: 0;

}

.main table {
    min-width: 20em;
    border-collapse: collapse;
    margin: 2em 0;
}

.main table th, .main table td {
    padding: 6px 12px;
    border: 1px solid #eceff1;
    text-align: left;
}
.main table th {
    font-weight: 600;
    font-size: 14px;
}
