p, td, li {
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.4;
}

code,
pre,
.literal,
#childList > div .functionHeader,
#splitTables > table tr td:nth-child(2),
.fieldArg {
    font-family: Menlo, Monaco, "Courier New", monospace;
    font-size: 13px;
    line-height: 1.4;
}

.navbar-brand {
    font-size: inherit;
}

#main code,
.literal {
    padding: 2px 6px;
    border-radius: 6px;
    border-color: transparent;
}

.package code {
    padding: 0;
}

.rst-literal-block {
    padding: 10px;
    border-radius: 6px;
}

.moduleDocstring {
    margin: 0 0 2em 0;
    padding: 0;
}

.moduleDocstring div > p:first-child {
    font-weight: 500;
    font-size: 1.5em;
    margin: 0 0 1em 0;
    padding: 0;
}

h2.heading {
    font-weight: 600;
    font-size: 1.2em;
    margin: 1em 0;
    padding: 0;
}

.categoryHeader {
    display: none;
}


#childList > div {
    background: transparent;
}

.docstring div.rst-admonition {
    margin: 12px 0;
}

.docstring div.rst-admonition p.rst-admonition-title {
    background: #d5d5d5;
    font-weight: bold;
    font-size: 12px;
    color: #333 !important;
}

.fieldTable {
    margin: 12px 0;
    border-collapse: collapse;
}
.fieldTable tr td {
    border: 1px solid #e5e5e5;
    padding: 8px;
}
.fieldName {
    font-size: 12px;
}
.fieldArg:before {
    content: none;
}
.sourceLink {
    float: right;
    font-size: 11px;
}
footer .container {
    font-size: 11px;
}
