*, *:before, *:after {
    box-sizing: border-box;
}

html {
    font-size: 15px;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    font-size: 1rem;
    font-family: "Helvetica Neue", Arial, sans-serif;
    background-color: #fcfcfc;
    color: #263238;
    line-height: 1.5;
}

body aside {
    background-color: #263238;
    position: fixed;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    transition: left 0.2s ease-out;
    overflow-x: hidden;
}

body main {
    background-color: #fcfcfc;
    padding: 1rem;
    margin-left: 0;
    overflow-x: hidden;
}

body.mobile-sidebar aside {
    left: 0;
}

body.mobile-sidebar main {
}

body #sidebar-toggle {
    position: fixed;
    top: 1rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    background-color: #084865;
    background-image: url('theme_menu.svg');
    background-position: center center;
    background-size: 70%;
    background-repeat: no-repeat;
    border-radius: 4px;
    z-index: 4;
}

body.mobile-sidebar #sidebar-toggle {
    background-image: url('theme_close.svg');
}

@media screen and (min-width: 768px) {
    body aside {
        left: 0;
        width: 22rem;
    }
    body main {
        margin-left: 22rem;
        padding: 2rem;

    }
    #sidebar-toggle {
        display: none;
    }
}

code, pre {
    font-family: Menlo, Consolas, monospace;
    font-size: 0.9rem;
}

pre {
    line-height: 125%;
    padding: 0;
    margin: 0;
}

main code, main pre {
}

main code {
    background: #eceff1;
    border: 1px solid #cfd8dc;
    border-radius: 4px;
    color: #263238;
    display: inline-block;
    padding: 0 6px;
    margin: 0 3px;
}

pre code {
    display: inline;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}

div.highlight {
    background-color: #fff8e1;
    border: 1px solid #ffd54f;
    border-radius: 4px;
    padding: 1em;
    margin: 1em 0;
    overflow-x: auto;
}

p.highlighttitle {
    background-color: #ffd54f;
    display: inline-block;
    font-family: Menlo, Consolas, monospace;
    font-size: 0.8rem;
    font-weight: 600;
    margin: 1em 0 0 0;
    padding: 0.2em 0.8em;
}

p.highlighttitle + div.highlight {
    margin-top: 0;
    border-top-left-radius: 0;
}

table.highlighttable tr {
    vertical-align: top;
}

div.linenodiv {
    opacity: 0.4;
    padding-right: 0.5em;
}

blockquote {
    margin: 10px 0;
    padding: 10px 10px 10px 15px;
    background: #eceff1;
    border-left: 6px solid #cfd8dc;
}

main {
}

main a {
    color: #0277bd;
    text-decoration: none;
}

main a.header-link {
    opacity: 0;
    font-size: 1rem;
    padding: 0 0 0 10px;
    transition: all 0.5s ease;
}

main h1:hover a.header-link,
main h2:hover a.header-link,
main h3:hover a.header-link,
main h4:hover a.header-link,
main h5:hover a.header-link,
main h6:hover a.header-link {
    opacity: 1;
}


main a code {
    color: #0277bd;
}

main a:hover {
    text-decoration: underline;
}

main h1 {
    font-size: 2.5rem;
    margin: 1.5rem 0;
}

main h1:first-child {
    margin-top: 0;
}

main h2 {
    font-size: 2rem;
    margin: 1.5rem 0;
}

main h3 {
    font-size: 1.75rem;
    margin: 1.5rem 0;
}

main h4 {
    font-size: 1.5rem;
    margin: 1.5rem 0;
}

main h5 {
    font-size: 1.25rem;
    margin: 1.5rem 0;
}

main h6 {
    font-size: 1rem;
    font-weight: 800;
    margin: 1.5rem 0;
}

main p {
    margin: 12px 0;
}

main li {
    margin: 6px 0 6px 48px;
    list-style-type: disc;

}

table.markdown-table {
    font-size: 0.9rem;
    border-collapse: collapse;
    margin: 1.5rem;
}

table.markdown-table th, table.markdown-table td {
    margin: 0;
    padding: 0.9rem;
    border: 1px solid #ddd;
}

table.markdown-table tr:nth-child(even) {
    background: rgba(0, 0, 0, 0.04);
}

table.markdown-table th {
    font-weight: 600;
    text-align: left;
    background: rgba(0, 0, 0, 0.09);
    font-variant-caps: all-small-caps;
}

figure {
    display: table;
    padding: 20px;
    margin: 30px auto;
}

figcaption {
    display: table-caption;
    caption-side: bottom;
    font-size: 0.8rem;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

nav {
    padding: 1rem 0;
    margin-bottom: 2rem;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
}

#nav-breadcrumbs {
    font-size: 0.8rem;
    flex: 1;
}

#nav-breadcrumbs-home img {
    width: 1rem;
    height: 1rem;
    vertical-align: text-top;
}

#nav-arrows a {
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    opacity: 0.7;
}

#nav-arrows a.disabled {
    opacity: 0.1;
}

#sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#sidebar-header {
    display: block;
    background-color: #0086c9;
    padding: 1rem 0.5rem 1rem 0.5rem;
    color: white;
    text-align: center;
    text-decoration: none;
}


@media screen and (min-width: 768px) {
    #sidebar-header {
        background-color: #0086c9;
        background-image: url('gws_logo.svg');
        background-position: center 1rem;
        background-repeat: no-repeat;
        background-size: 5rem 5rem;
        padding: 7rem 0.5rem 1rem 0.5rem;
        color: white;
        text-align: center;
    }
}

#sidebar-header-title {
    display: block;
    font-size: 1.3rem;
    font-weight: 500;
}

#sidebar-header-subtitle {
    display: block;
    font-size: 0.9rem;
}

#sidebar-content {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

#sidebar-search {
    padding: 1rem;
    background: #145b86;
}

#sidebar-search-box {
    background-color: #cce2ec;
    background-image: url('theme_search.svg');
    background-position: 8px center;
    background-repeat: no-repeat;
    background-size: 1.2rem 1.2rem;
    border-radius: 18px;
    display: flex;
}

#sidebar-search input {
    border: 0;
    flex: 1;
    background: none;
    padding: 10px 10px 10px 35px;
    outline: none;
}

#sidebar-search button {
    border: 0;
    background: none;
    width: 3rem;
    color: #78909c;
    font-size: 1.3rem;
}

#sidebar-search-results, #sidebar-search-not-found {
    display: none;
    background: #145b86;
    padding-bottom: 0.5rem;
    border-bottom: 8px solid #0b354f;
}

#sidebar-search-not-found {
    text-align: center;
    color: #eceff1;
    font-size: 0.9rem;
    font-style: italic;
}

#sidebar-search-results ul {
    font-size: 0.9rem;
    padding: 0 1rem;
}

#sidebar-search-results li {
    font-size: 0.9rem;
    padding: 0.5rem 0;
}

#sidebar-search-results a {
    color: #eceff1;
    text-decoration: none;
    display: inline-block;
    padding: 0;
}

#sidebar-search-results a:hover {
    text-decoration: underline;
}
body.with-search-found #sidebar-search-results {
    display: block;
}
body.with-search-not-found #sidebar-search-not-found {
    display: block;
}

#sidebar-toc {
    padding: 8px 0;
}

#sidebar-toc li {
    font-size: 0.9rem;
}

#sidebar-toc a {
    color: #eceff1;
    text-decoration: none;
    display: inline-block;
    padding: 0.6rem 0;
}

#sidebar-toc a:hover {
    text-decoration: underline;
}

#sidebar-toc li.active > span > a {
    font-weight: 900;
    color: white;
}

#sidebar-toc ul li span {
    padding-left: 1rem;
}

#sidebar-toc ul ul li span {
    padding-left: 2rem;
}

#sidebar-toc ul ul ul li span {
    padding-left: 3rem;
}

#sidebar-toc ul ul ul ul li span {
    padding-left: 4rem;
}

#sidebar-toc ul ul ul ul ul li span {
    padding-left: 5rem;
}

#sidebar-toc ul ul li {
    background: #37474f;
}

#sidebar-toc ul ul ul li {
    background: #455a64;
}

#sidebar-toc ul ul ul ul li {
    background: #546e7a;
}

#sidebar-toc ul ul ul ul ul li {
    background: #607d8b;
}

#sidebar-toc ul ul ul ul ul li {
    background: #78909c;
}

#sidebar-toc ul {
    display: none;
    opacity: 0;
    transition: all 0.5s ease;
}

#sidebar-toc > ul {
    display: block;
    opacity: 1;
}

#sidebar-toc li.open > ul {
    opacity: 1;
    transition: all 0.5s ease;
    display: block;
}

#sidebar-toc li > span {
    display: flex;
    align-items: center;
}

#sidebar-toc li > span > a {
    flex: 1;
}

#sidebar-toc li button {
    border: none;
    background-color: transparent;
    min-width: 1.8rem;
    width: 1.8rem;
    height: 1.8rem;
    padding: 0;
    margin-right: 0;
    background-size: 60%;
    background-position: center center;
    background-repeat: no-repeat;
    transition: transform 0.5s ease;
    cursor: pointer;
    visibility: hidden;
}

#sidebar-toc li.branch > span > button {
    background-image: url('theme_toc_open.svg');
    visibility: visible;
}

#sidebar-toc li.branch.open > span > button {
    transform: rotate(90deg);
}

#sidebar-footer {
    background: black;
    color: #736d6d;
    padding: 10px;
    font-size: 0.6rem;
}

.reference {
    border-bottom: 1px solid #bbdefb;
    padding: 5px 0;
    margin-bottom: 10px;
    display: inline-block;
    font-size: 0.9rem;
}

.demo {
    border-bottom: 1px solid #bbdefb;
    padding: 5px 0;
    margin-bottom: 10px;
    display: inline-block;
    font-size: 0.9rem;
}

.admonition_info {
    background-color: #e7fdea;
    background-image: url('theme_info.svg');
    background-position: 20px center;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    border-radius: 4px;
    border: 1px solid #b3fbc9;
    color: #1b7908;
    margin: 12px 0;
    padding: 20px 20px 20px 70px;
}

.admonition_warn {
    background-color: #ffebee;
    background-image: url('theme_warning.svg');
    background-position: 20px center;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    border-radius: 4px;
    border: 1px solid #ffcdd2;
    color: #b71c1c;
    margin: 12px 0;
    padding: 20px 20px 20px 70px;
}

code.configref_literal {
    background: #e3f2fd;
    border: none;
    border-radius: 4px;
    display: inline-block;
    padding: 0 6px;
    margin: 0 3px;
    vertical-align: middle;
}

code.configref_typename {
    background: none;
    border: none;
    border-radius: 4px;
    display: inline-block;
    padding: 0 6px;
    margin: 0 3px;
    font-weight: 600;
    vertical-align: middle;
}

code.configref_propname {
    background: #fff8e1;
    border: 1px solid #ffd54f;
    border-radius: 4px;
    display: inline-block;
    padding: 0 6px;
    margin: 0 3px;
    vertical-align: middle;
}

code.configref_required {
    background: #fff8e1;
    border: 1px solid #ffd54f;
    border-radius: 4px;
    display: inline-block;
    padding: 0 6px;
    margin: 0 3px;
}

code.configref_required::after {
    content: '\00a0*';
    color: #fa3749;
    font-weight: 600;
}

code.configref_missing_translation {
    background: #ffd1d1;
    border: none;
    border-radius: 4px;
    display: inline-block;
    padding: 0 6px;
    margin: 0 3px;
    vertical-align: text-bottom;
    font-size: 0.7rem;
    display: none;
}

code.configref_category,
code.configref_label_added,
code.configref_label_deprecated,
code.configref_label_changed {
    border: none;
    border-radius: 4px;
    color: white;
    display: inline-block;
    padding: 0 6px;
    margin: 0 6px;
    vertical-align: text-bottom;
    font-size: 0.7rem;
}
code.configref_category {
    background: #0086c9;
    margin: 0 3px 0 0;
}

code.configref_label_added {
    background: #1b7908;
}
code.configref_label_deprecated {
    background: #73502a;
}
code.configref_label_changed {
    background: #d206b8;
}

.decoration_title {
    background: #fdffab;
    border-radius: 4px;
    border: 1px solid #9f866a;
    color: #333;
    display: inline-block;
    font-size: 0.9rem;
    font-weight: 600;
    margin: 0 3px;
    padding: 0 6px;
}

.decoration_button {
    background: #d8dde0;
    border-radius: 4px;
    border: 1px solid #04121c;
    color: #333;
    display: inline-block;
    font-size: 0.9rem;
    margin: 0 3px;
    padding: 0 6px;
}

.decoration_param {
    background: #e8f2fa;
    border-radius: 4px;
    border: 1px solid #7fbbe3;
    color: #333;
    display: inline-block;
    font-size: 0.9rem;
    font-weight: 600;
    margin: 0 3px;
    padding: 0 6px;
}

.decoration_link {
    color: #0277bd;
}

@media print {
    html {
        font-size: 11pt;
    }
    body {
        background: white;
    }

    nav {
        display: none
    }

    aside {
        display: none
    }

    main {
        padding: 10mm;
    }

    h1, h2, h3 {
        page-break-before: always;
    }
    #sidebar-toggle {
        display: none;
    }
}
