*, *:before, *:after {
    box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    font-size: 16px;
    font-family: "Helvetica Neue", Arial, sans-serif;
    background: #fcfcfc;
    color: #263238;
    line-height: 1.5;
}

aside {
    background-color: #263238;
    position: fixed;
    left: 0;
    top: 0;
    width: 300px;
    height: 100%;
}

main {
    padding: 20px 60px 20px 340px;
}


code, pre, .highlighttitle {
    font-family: Menlo, Consolas, monospace;
    font-size: 13px;
}

pre {
    line-height: 125%;
    padding: 0;
    margin: 0;
}

main code, main pre {
}

main code {
    background: #eceff1;
    border: 1px solid #cfd8dc;
    border-radius: 4px;
    color: #263238;
    display: inline-block;
    padding: 0 6px;
    margin: 0 3px;
}

pre code {
    display: inline;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}

div.highlight {
    background-color: #fff8e1;
    border: 1px solid #ffd54f;
    border-radius: 4px;
    padding: 1em;
    margin: 1em 0;
    overflow-x: auto;
    position: relative;
}

p.highlighttitle {
    margin: 1em 0 0 0;
    display: inline-block;
    font-weight: 600;
    padding: 0.2em 0.8em;
    background-color: #ffd54f;
}

p.highlighttitle + div.highlight {
    margin-top: 0;
    border-top-left-radius: 0;
}

table.highlighttable tr {
    vertical-align: top;
}

div.linenodiv {
    opacity: 0.4;
    padding-right: 0.5em;
}

blockquote {
    margin: 10px 0;
    padding: 10px 10px 10px 15px;
    background: #eceff1;
    border-left: 6px solid #cfd8dc;
}

main {
}

main a {
    color: #0277bd;
    text-decoration: none;
}

main a.header-link {
    opacity: 0;
    font-size: 16px;
    padding: 0 0 0 10px;
    transition: all 0.5s ease;
}

main h1:hover a.header-link,
main h2:hover a.header-link,
main h3:hover a.header-link,
main h4:hover a.header-link,
main h5:hover a.header-link,
main h6:hover a.header-link {
    opacity: 1;
}


main a code {
    color: #0277bd;
}

main a:hover {
    text-decoration: underline;
}

main h1 {
    font-size: 2.5rem;
    margin: 1.5rem 0;
}

main h1:first-child {
    margin-top: 0;
}

main h2 {
    font-size: 2rem;
    margin: 1.5rem 0;
}

main h3 {
    font-size: 1.75rem;
    margin: 1.5rem 0;
}

main h4 {
    font-size: 1.5rem;
    margin: 1.5rem 0;
}

main h5 {
    font-size: 1.25rem;
    margin: 1.5rem 0;
}

main h6 {
    font-size: 1rem;
    font-weight: 800;
    margin: 1.5rem 0;
}

main p {
    margin: 12px 0;
}

main li {
    margin: 6px 0 6px 48px;
    list-style-type: disc;

}

table.markdown-table {
    font-size: 14px;
    border-collapse: collapse;
    margin: 24px;
}

table.markdown-table th, table.markdown-table td {
    margin: 0;
    padding: 12px;
    border: 1px solid #ddd;
}

table.markdown-table tr:nth-child(even) {
    background: rgba(0, 0, 0, 0.04);
}

table.markdown-table th {
    font-weight: 600;
    text-align: left;
    background: rgba(0, 0, 0, 0.09);
    font-variant-caps: all-small-caps;
}

figure {
    display: table;
    padding: 20px;
    margin: 30px auto;
}

figcaption {
    display: table-caption;
    caption-side: bottom;
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

nav {
    padding: 15px 0 20px 0;
    margin-bottom: 25px;
    border-bottom: 1px solid #ccc;
    display: flex;
}

#nav-breadcrumbs {
    font-size: 14px;
    flex: 1;
}

#nav-breadcrumbs-home img {
    width: 16px;
    height: 16px;
    vertical-align: text-top;
}

#nav-arrows a {
    display: inline-block;
    width: 24px;
    height: 24px;
    opacity: 0.7;
}

#nav-arrows a.disabled {
    opacity: 0.1;
}

#sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#sidebar-header {
    background: #0086c9;
    padding: 10px;
    color: white;
    text-align: center;
}

#sidebar-title {
    font-size: 16px;
    padding: 10px 0;
}

#sidebar-subtitle {
    font-size: 14px;
}

#sidebar-content {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

#sidebar-search {
    padding: 20px;
    background: #0f638d;
}

#sidebar-search-box {
    background-color: #cce2ec;
    background-image: url('theme_search.svg');
    background-position: 8px center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    border-radius: 20px;
    display: flex;
}

#sidebar-search input {
    border: 0;
    flex: 1;
    background: none;
    padding: 10px 10px 10px 35px;
    outline: none;
}

#sidebar-search button {
    border: 0;
    background: none;
    width: 40px;
    color: #78909c;
    font-size: 21px;
}

#sidebar-search-results {
    display: none;
    background: #0f638d;
    padding: 0 0 20px 0;
}

#sidebar-search-results ul {
    font-size: 13px;
    padding: 0 20px;
}

#sidebar-search-results li {
    font-size: 13px;
    padding: 5px 0;
}

#sidebar-search-results a {
    color: #eceff1;
    text-decoration: none;
    display: inline-block;
    padding: 0;
}

#sidebar-search-results a:hover {
    text-decoration: underline;
}


#sidebar-toc {
    padding: 8px 0;
}

#sidebar-toc li {
    font-size: 13px;
}


#sidebar-toc a {
    color: #eceff1;
    text-decoration: none;
    display: inline-block;
    padding: 8px 0;
}

#sidebar-toc a:hover {
    text-decoration: underline;
}

#sidebar-toc li.active > a {
    font-weight: 900;
    color: white;
}

#sidebar-toc ul li span {
    padding-left: 20px;
}

#sidebar-toc ul ul li span {
    padding-left: 40px;
}

#sidebar-toc ul ul ul li span {
    padding-left: 60px;
}

#sidebar-toc ul ul ul ul li span {
    padding-left: 80px;
}

#sidebar-toc ul ul ul ul ul li span {
    padding-left: 100px;
}

#sidebar-toc ul ul li {
    background: #37474f;
}

#sidebar-toc ul ul ul li {
    background: #455a64;
}

#sidebar-toc ul ul ul ul li {
    background: #546e7a;
}

#sidebar-toc ul ul ul ul ul li {
    background: #607d8b;
}

#sidebar-toc ul ul ul ul ul li {
    background: #78909c;
}

#sidebar-toc ul {
    display: none;
    opacity: 0;
    transition: all 0.5s ease;
}

#sidebar-toc > ul {
    display: block;
    opacity: 1;
}

#sidebar-toc li.open > ul {
    opacity: 1;
    transition: all 0.5s ease;
    display: block;
}

#sidebar-toc li > span {
    display: flex;
    align-items: center;
}

#sidebar-toc li > span > a {
    flex: 1;
}

#sidebar-toc li button {
    border: none;
    background-color: transparent;
    width: 20px;
    height: 20px;
    padding: 0;
    margin-right: 0.2em;
    background-size: 16px 16px;
    background-position: center center;
    transition: all 0.5s ease;
    cursor: pointer;
}

#sidebar-toc li.branch > span > button {
    background-image: url('theme_toc_open.svg');
}

#sidebar-toc li.branch.open > span > button {
    transform: rotate(90deg);
}


body.withSearch #sidebar-search-results {
    display: block;
}

body.withSearch #sidebar-tocxx {
    display: none;
}

#sidebar-footer {
    background: black;
    color: #736d6d;
    padding: 10px;
    font-size: 10px;
}


.reference {
    border-bottom: 1px solid #bbdefb;
    padding: 5px 0;
    margin-bottom: 10px;
    display: inline-block;
    font-size: 13px;
}

.demo {
    border-bottom: 1px solid #bbdefb;
    padding: 5px 0;
    margin-bottom: 10px;
    display: inline-block;
    font-size: 13px;
}

.admonition_info {
    background-color: #e7fdea;
    background-image: url('theme_info.svg');
    background-position: 20px center;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    border-radius: 4px;
    border: 1px solid #b3fbc9;
    color: #1b7908;
    margin: 12px 0;
    padding: 20px 20px 20px 70px;
}

.admonition_warn {
    background-color: #ffebee;
    background-image: url('theme_warning.svg');
    background-position: 20px center;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    border-radius: 4px;
    border: 1px solid #ffcdd2;
    color: #b71c1c;
    margin: 12px 0;
    padding: 20px 20px 20px 70px;
}

@media print {
    body {
        background: white;
    }

    nav {
        display: none
    }

    aside {
        display: none
    }

    main {
        padding: 20px 60px 20px 60px;
    }

    h1, h2, h3 {
        page-break-before: always;
    }
}

code.configref_literal {
    background: #e3f2fd;
    border: none;
    border-radius: 4px;
    display: inline-block;
    padding: 0 6px;
    margin: 0 3px;
    vertical-align: middle;
}

code.configref_typename {
    background: none;
    border: none;
    border-radius: 4px;
    display: inline-block;
    padding: 0 6px;
    margin: 0 3px;
    font-weight: 600;
    vertical-align: middle;
}

code.configref_category {
    background: #0086c9;
    border: none;
    border-radius: 4px;
    color: white;
    display: inline-block;
    padding: 0 6px;
    margin: 0 3px;
    vertical-align: text-top;
}

code.configref_propname {
    background: #fff8e1;
    border: 1px solid #ffd54f;
    border-radius: 4px;
    display: inline-block;
    padding: 0 6px;
    margin: 0 3px;
    vertical-align: middle;
}

code.configref_required {
    background: #fff8e1;
    border: 1px solid #ffd54f;
    border-radius: 4px;
    display: inline-block;
    padding: 0 6px;
    margin: 0 3px;
    vertical-align: middle;
}

code.configref_required::after {
    content: ' *';
    color: #fa3749;
    font-weight: 600;
}

code.configref_missing_translation {
    background: #ffd1d1;
    border: none;
    border-radius: 4px;
    display: inline-block;
    padding: 0 6px;
    margin: 0 3px;
    vertical-align: middle;
}



.decoration_title {
    background: #fdffab;
    border-radius: 4px;
    border: 1px solid #9f866a;
    color: #333;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    margin: 0 3px;
    padding: 0 6px;
}

.decoration_button {
    background: #d8dde0;
    border-radius: 4px;
    border: 1px solid #04121c;
    color: #333;
    display: inline-block;
    font-size: 12px;
    margin: 0 3px;
    padding: 0 6px;
}

.decoration_param {
    background: #e8f2fa;
    border-radius: 4px;
    border: 1px solid #7fbbe3;
    color: #333;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    margin: 0 3px;
    padding: 0 6px;
}

.decoration_link {
    color: #0277bd;
}

/* provides a way to add a filename to the top of code blocks */
.decoration_file {
    position: relative;
    margin: 0;
    padding: 0 0.3em;
    top: 1em;
    border: 1px #ffd54f solid;
    border-bottom: 0;
    background-color: #ffe387;
    font-family: monospace;
}