@import datetime
@import decimal

@with feature.category as s
    <p class="head">{s | html}</p>
@end

@def format_for_display(value)
    @if isinstance(value, bool)
        @return "&#x2713;" if value else " "
    @end
    @if isinstance(value, int)
        @return str(value)
    @end
    @if isinstance(value, float)
        @return number.decimal(value)
    @end
    @if isinstance(value, decimal.Decimal)
        @return number.decimal(value)
    @end
    @if isinstance(value, str) and value != "NULL"
        @return value | html | nl2br | linkify(target="_blank", cut=30)
    @end
    @if isinstance(value, datetime.datetime)
        @return date.short(value)
    @end
    @if isinstance(value, datetime.date)
        @return date.short(value)
    @end
@end

<table><tbody>

@for name, value in feature.attributes
    @let v = format_for_display(value)
    @if v
        <tr>
            <th>{name | html}</th>
            <td>{v}</td>
        </tr>
    @end
@end

</tbody></table>

