@# Login form on the home page
@def LOGIN_FORM(action="/_/authLogin")
    <form id="gws-home-login-form" action="{action}" method="post" aria-label="{STRINGS.appHomeLoginTitle}">
        <div class="gws-home-input-group">
            <div>
                <label for="gws-home-username">{STRINGS.appHomeUsername}</label>
                <input id="gws-home-username" name="username" type="text" autocomplete="username">
            </div>
            <div>
                <label for="gws-home-password">{STRINGS.appHomePassword}</label>
                <input id="gws-home-password" name="password" type="password" autocomplete="current-password">
            </div>
            <button type="submit">{STRINGS.appHomeLoginButton}</button>
        </div>
        <span id="gws-home-login-progress-text" aria-live="polite">{STRINGS.appHomeLoginProgress}</span>
        <span id="gws-home-login-error-text" role="alert">{STRINGS.appHomeLoginError}</span>
    </form>
@end

@# Username and logout form on the home page
@def LOGOUT_FORM(action="/_/authLogout")
    <form id="gws-home-logout-form" action="{action}" method="post" aria-label="{STRINGS.appHomeLogoutTitle}">
        <button type="submit">{STRINGS.appHomeLogout}</button>
    </form>
@end

@# List of projects on the home page
@def PROJECT_LIST
    <ul>
        @for prj in projects
            <li><a href="/project/{prj.uid}" data-project-id="{prj.uid}">{prj.title | html}</a></li>
        @end
    </ul>
@end

@# HTML head for the home page
@def HOME_HEAD
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
    <link rel="stylesheet" href="/_/webSystemAsset/path/{app.version}.home.css"/>
    <script src="/_/webSystemAsset/path/{app.version}.home.js"></script>
    @for r in app.templateOptions.homeResources
        @if r.endswith('.css')
            <link rel="stylesheet" href="{r}"/>
        @elif r.endswith('.js')
            <script src="{r}"></script>
        @end    
    @end
@end

@# HTML head for the project page
@def PROJECT_HEAD
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <link rel="stylesheet" href="/_/webSystemAsset/path/{app.version}.light.css"/>
    <script src="/_/webSystemAsset/path/{app.version}.vendor.js"></script>
    <script src="/_/webSystemAsset/localeUid/{locale.uid}/path/{app.version}.app.js"></script>
    @for r in app.templateOptions.projectResources
        @if r.endswith('.css')
            <link rel="stylesheet" href="{r}"/>
        @elif r.endswith('.js')
            <script src="{r}"></script>
        @end    
    @end
@end
